	
	{% for cocktail in cocktails %}
		<div>
			<img src="{{ cocktail.image}}" >
			<h4><a href="{{ path('cocktail', { 'id': cocktail.id }) }}">{{ cocktail.nom}}</a></h4>
			{# href="{{ path('cocktail') }} ?id = {{cocktail.id}} #}
			<p>{{ cocktail.description }}</p>
			<p>{{ cocktail.date_creation | date ('Y-m-d') }}</p>
		</div>
	{% endfor %}