{% extends "base.html.twig" %}

{% block main %}
	<main class="container">
		<div class="cocktail-card">
			<img src="{{ cocktail.image }}">
			<h3>
				<a href="{{ path('cocktail', { 'id': cocktail.id }) }}">{{ cocktail.nom}}</a>
			</h3>
			<p>{{ cocktail.date_creation }}</p>
			<p>{{ cocktail.description }}</p>

			<h4>Ingrédients :</h4>
			<ul>
				{% for ingredient in cocktail.ingredients %}
					<li>{{ ingredient }}</li>
				{% endfor %}
			</ul>
		</div>
	</main>
{% endblock main %}
